:root {
    --yellow: #FBF138;
    --dark: #2B3541;
    --light: #F3F3F3;

    --tr: .2s;
}

body {
   font-family: "Montserrat";
   color: var(--dark);
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1142px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* Header */

.header {
   padding-top: 50px;
   padding-bottom: 30px;
}

.header-wrapper {
   display: flex;
   align-items: center;
}

.fit-menu {
   display: none;
   width: 34px;
   height: 22px;
   background-image: url(../images/fit-menu.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-color: transparent;
   border: none;
}

.logo {
   display: block;
   width: 97px;
   height: 30px;
   background-image: url(../images/logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
}

.nav {
   flex-grow: 1;
   display: flex;
   gap: 54px;
   margin-left: min(8vw, 92px);
}

.nav-link {
   color: var(--dark);
   font-size: 18px;
   font-weight: 400;
   line-height: 150%;
}

.nav-link::after {
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   background-color: transparent;
   border-radius: 1.5px;
   transition: var(--tr);
}

.nav-link:hover::after {
   background-color: var(--dark);
}

.email {
   color: var(--dark);
   font-weight: 700;
   line-height: 150%;
   position: relative;
}

.header-email-item {
   background-color: var(--yellow);
   width: 25px;
   height: 25px;
   border-radius: 100%;
   position: absolute;
   top: 0;
   right: 125px;
   z-index: -1;
}

.button-up {
   position: fixed;
   right: 10px;
   bottom: 10px;
   font-size: 14px;
   font-weight: 700;
   padding: 8px 13px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: #1E2F40;
   background-color: var(--yellow);
   border: none;
   border-radius: 5px;
   transition: var(--tr);
}

.button-up:hover {
   color: var(--yellow);
   background-color: var(--dark);
}

.button-up.hidden {
   opacity: 0;
}

.button-up.visible {
   opacity: 1;
}


/* Hero */

.hero-wrapper {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 50px;
   position: relative;

}

.hero-text {
   flex-basis: 60%;
   margin-bottom: 10px;
}

.hero-title {
   font-size: clamp(24px, 4.5vw ,48px);
   line-height: 125%;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.hero-train {
   font-size: clamp(26px, 4vw ,40px);
   line-height: 125%;
   margin-bottom: -20px;
}

.hero-description {
   margin-left: min(8vw, 91px);
   max-width: 297px;
   margin-top: 42px;
}

.hero-description p {
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 55px;
}

.arrow {
   width: 100%;
   max-width: 50px;
   top: min(60vw, 740px);
   position: absolute;
}

.hero-btn {
   background-color: var(--yellow);
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.03em;
   color: var(--dark);
   text-transform: uppercase;
   text-align: center;
   padding: 22px 30px;
   border: none;
   transition: var(--tr);
}

.hero-btn:hover {
   color: var(--yellow);
   background-color: var(--dark);
}

.hero-bg {
   height: clamp(493px, 50vw, 852px);
   flex-basis: calc(40% - 20px);
   opacity: 0.2;
   background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
}

.hero-img {
   position: relative;
}

.hero-img img {
   position: absolute;
   width: clamp(399px, 73vw, 996px);
   left: -60vw;
   bottom: -42vw;
}


/* Menu */

.menu {
   margin-top: 240px;
}

.menu-header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}

.menu-header p {
   font-weight: 700;
   font-size: clamp(16px, 3vw ,28px);
   line-height: 125%;
   padding-top: 5px;
}

.menu-title {
   width: 100%;
   max-width: 356px;
   font-weight: 700;
   font-size: clamp(26px, 4vw ,40px);
   line-height: 125%;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 309px 73px 281px;
   grid-template-areas: "a b c" "d b f" "d e f";
   gap: 20px;
}

.item {
   align-content: end;
   padding: 0 30px;
   position: relative;
}

.item img {
   padding-bottom: 20px;
}

.item p {
   font-size: 18px;
   line-height: 125%;
   opacity: 0.7;
   top: 3px;
   right: 30px;
   position: absolute;
}

.item-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 125%;
}

.item::after {
   content: '';
   display: block;
   width: 100%;
   height: 100%;
   border: 1px solid #2B3541;
   opacity: 0.5;
   background-color: transparent;
   border-radius: 1px;
   transition: var(--tr);
   position: absolute;
   top: 0;
   right: 0;
}

.item:hover::after {
   border: none;
   box-shadow: 0 13px 30px 0 rgba(186, 180, 69, 0.2);
   background: linear-gradient(180deg, #fbf138 0%, rgba(253, 249, 182, 0.45) 100%);
   opacity: 0.7;
   z-index: -1;
}

.item:nth-child(1) {
    grid-area: a;
}
.item:nth-child(2) {
    grid-area: b;
}
.item:nth-child(3) {
    grid-area: c;
}
.item:nth-child(4) {
    grid-area: d;
}
.item:nth-child(5) {
    grid-area: e;
}
.item:nth-child(6) {
    grid-area: f;
}


/* Form */

.subscribe {
   height: 348px;
   background-color: var(--light);
   margin-top: 162px;
   z-index: -3;
}

.subscribe-head {
   font-weight: 700;
   font-size: clamp(26px, 2.5vw ,40px);
   text-align: center;
   padding-top: 40px;
   padding-left: 5px;
   z-index: 2;
}

.subscribe-title {
   display: inline-block;
   position: relative;
   z-index: 0;
}

.subscribe-item {
   display: inline-block;
   background-color: var(--yellow);
   width: 100%;
   max-width: 53px;
   height: 53px;
   border-radius: 100%;
   position: absolute;
   bottom: 32%;
   left: -6%;
   z-index: -1;
}

.form {
   display: flex;
   max-width: 620px;
   margin: 0 auto;
   gap: 10px;
}

.form-email {
   background-color: white;
   font-size: 18px;
   font-weight: 0;
   line-height: 150%;
   opacity: 0.4;
   padding: 0 20px;
   width: 100%;
   max-width: 372px;
   height: 65px;
   border: none;
}

.form > div {
   flex-basis: calc(100% - 255px - 20px);
}

.agreement {
   display: flex;
   font-size: 11px;
   line-height: 150%;
   opacity: 0.7;
   padding: 0;
   margin-top: 15px;
}

.agreement a {
   color: var(--dark);
   text-decoration: underline;
}

.agreement a:hover {
   color: #000;
}

.form-btn {
   flex-basis: 255px;
   font-family: "Montserrat";
   background-color: var(--yellow);
   height: 65px;
   font-weight: 700;
   font-size: 15px;
   letter-spacing: 0.04em;
   margin-left: 50px;
   text-transform: uppercase;
   border: none;
}

.form-btn:hover {
   color: var(--yellow);
   background-color: var(--dark);
}

.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}

.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}

.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(../images/icons/check-box.svg);
}
.checkbox:not(:checked) + label::before{
    content:'';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #2B3541;
}

.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../images/icons/check-box-empty.svg);
}
.radio:checked + label::before{
    border-radius: 100%;
}


/* Main */

.main {
   margin-top: 124px;
}

.main-head {
   display: flex;
   gap: 40px;
   position: relative;
}

.main-head img {
   top: 35px;
   right: 0;
   position: absolute;
   overflow: hidden;
}

.main-title {
   flex-basis: calc(100% - 581px - 10px);
   width: 100%;
   max-width: 483px;
}

.main-title h2 {
   font-weight: 700;
   font-size: clamp(26px, 4vw ,40px);
   line-height: 125%;
   margin-bottom: 20px;
}

.main-title p {
   font-size: 18px;
   line-height: 150%;
   margin-bottom: 55px;
}

.main-btn {
   background-color: var(--yellow);
   color: var(--dark);
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.03em;
   padding: 22px 52px;
   text-transform: uppercase;
   text-align: center;  
   border: none;
}

.main-btn:hover {
   color: var(--yellow);
   background-color: var(--dark);
}

.main-info {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 32px;
   margin-top: 142px;
   margin-left: 0;
}

.main-item p {
   display: block;
   width: 100%;
   max-width: 284px;
   font-size: clamp(16px, 1.5vw, 18px);
   line-height: 150%;
   opacity: 0.6;
}

.main-item-title {
   display: block;
   width: 100%;
   min-width: 284px;
   font-size: clamp(16px, 1.5vw, 18px);
   font-weight: 700;
   line-height: 125%;
}


/* Footer */

.footer {
   background-color: var(--light);
   padding-top: 50px;
   margin-top: 153px;
   z-index: -2;
}

.footer-wrapper {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 1;
}

.footer-logo {
   display: block;
   width: 97px;
   height: 30px;
   background-image: url(../images/logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
}

.footer-nav {
   flex-grow: 1;
   display: flex;
   gap: 90px;
   margin-left: min(6vw, 76px)
}

.footer-link {
   color: var(--dark);
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
}

.footer-link:hover {
   color: rgba(220, 200, 56, 0.8);
}

.footer-email {
   color: var(--dark);
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   z-index: 2;
}

.footer-email-item {
   background-color: var(--yellow);
   width: 25px;
   height: 25px;
   border-radius: 100%;
   position: absolute;
   bottom: 5px;
   right: 125px;
   z-index: -1;
}

.footer-copyright {
   display: flex;
   justify-content: space-between;
   opacity: 0.3;
   font-size: 14px;
   line-height: 150%;
   padding-top: 15px;
}

.footer-copyright a {
   color: var(--dark);
   text-decoration: underline;
}

.footer-copyright a:hover {
   color: #000;
}

.modal {
   display: none;
}


 /* Media */

@media (max-width: 940px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 240px);
      grid-template-areas: "a b" "c d" "e f";
   }
   .main-title {
      flex-basis: 40%;
   }
   .main-head img {
      max-width: 482px;
      height: auto;
   }
   .main-info {
      flex-wrap: wrap;
   }
}

@media (max-width: 860px) {
   .nav {
      gap: 20px;
      margin-left: min(6vw, 72px);
   }
   .menu {
      margin-top: min(20vw, 160px);
   }
   .arrow {
      top: min(64vw, 960px);
   }
   .main-title {
      flex-basis: calc(100% - 400px - 8px);
   }
   .main-title h2 {
      margin-bottom: 10px;
   }
   .main-title p {
      line-height: 125%;
      margin-bottom: 45px;
   }
   .main-head img {
      max-width: 400px;
   }
   .footer-nav {
      gap: 40px;
   }
}

@media (max-width: 768px) {
   .header-wrapper {
      justify-content: space-between;
   }
   .nav {
      display: none;
   }
   .nav._modal {
      display: flex;
      flex-direction: column;
  }
  .nav-link::after {
      display: none;
   }
   .line {
      border: 1px solid var(--dark);
      width: 100%;
      max-width: 565px;
      opacity: 0.2;
   }
   .fit-menu {
      display: block;
      min-width: 29px;
      margin-left: 30px;
      margin-right: 540px;
   }
   .logo {
      min-width: 97px;
      order: -1;
   }
   .modal {
      display: block;
      width: 100%;
      max-width: 768px;
      background-color: var(--light);
      position: absolute;
      top: -400px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      transition: var(--tr);
  }
  .modal-close {
      display: block;
      width: 22px;
      height: 22px;
      background-image: url(../images/icons/close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 20px;
      right: 20px;
  }
   .email {
      position: sticky;
      right: 10px;
   }
   .hero-description {
      margin-left: 0;
   }
   .hero-description p {
      font-size: 16px;
   }
   .arrow {
      top: min(68vw, 860px);
   }
   .grid {
      grid-template-rows: repeat(3, 224px);
   }
   .main-title {
      flex-basis: calc(100% - 382px - 5px);
   }
   .main-head img {
      max-width: 382px;
   }
   .footer {
      padding-top: 0;
   }
   .mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .footer-nav {
      display: none;
   }
   .footer-email {
      display: none;
   }
   .footer-copyright-autor {
      display: none;
   }
   .footer-copyright {
      flex-basis: 65%;
      font-size: 12px;
   }
}

@media (max-width: 697px) {
   .hero-bg {
      display: none;
   }
   .hero-img img {
      left: -20vw;
   }
   .hero-btn {
      padding: 22px 15px;
   }
   .arrow {
      display: none;
   }
   .item img {
      width: 100%;
      max-width: 50px;
      height: 50px;
      padding-bottom: 10px;
   }
   .subscribe-item {
      width: 35px;
      height: 35px;
      left: -4%;
      bottom: 40%;
   }
   .main-title h2 {
      margin-bottom: 0;
   }
   .main-title p {
      font-size: 15px;
      line-height: 120%;
      margin-bottom: 30px;
   }
   .main-head img {
      max-width: 53%;
   }
}

@media (max-width: 540px) {
   .hero-img {
      display: none;
   }
   .hero-text {
      flex-basis: 100%;
      width: 100%;
      max-width: 540px;
   }
   .item img {
      max-width: 38px;
      height: 39px;
      padding-bottom: 0;
   }
   .item p {
      font-size: 14px;
      line-height: 150%;
      top: 0;
      right: 10px;
   }
   .item-title {
      font-size: 14px;
      line-height: 120%;
   }
   .subscribe-title {
      flex-basis: 100%;
      max-width: 442px;
   }
   .subscribe-item {
      bottom: 70%;
      left: 18%;
   }
   .main-title {
      flex-basis: 100%;
      text-align: center;
   }
   .main-head img {
      display: none;
   }
}

@media (max-width: 340px) {
   .line {
      width: 230px;
   }
   .fit-menu {
      margin-left: 0;
   }
   .logo {
      width: 100%;
      max-width: 78px;
      height: 24px;
   }
   .email {
      position: sticky;
      right: 5x;
      font-size: 14px;
   }
   .header-email-item {
      left: -10px;
   }
   .hero-title {
      font-size: 20px;
   }
   .hero-btn {
      padding: 22px 40px;
   }
   .menu {
      margin-top: 76px;
   }
   .menu-header p {
      padding-top: 15px;
   }
   .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 114px);
      grid-template-areas: "a" "b" "c" "d" "e" "f";
   }
   .item {
      padding: 0 12px;

   }
   .subscribe {
      margin-top: 76px;
   }
   .subscribe-title h3 {
      font-size: 26px;
   }
   .subscribe-item {
      width: 31px;
      height: 31px;
      bottom: 56px;
      left: 20px;
   }
   .form {
      flex-direction: column;
   }
   .form-btn {
      flex-basis: 100%;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 0.04em;
      padding: 20px 20px;
      margin-top: 30px;
      margin-left: 0;
      text-transform: uppercase;
      border: none;
   }
   .main-title {
      flex-basis: 100%;
   }
   .main-title p {
      font-size: 16px;
      margin-bottom: 35px;
   }
   .main-btn {
      padding: 22px 80px;
   }
   .main-info {
      gap: 20px;
      margin-top: 57px;
   }
   .main-item {
      width: 100%;
      max-width: 223px;
   }
   .footer {
      margin-top: 68px;
   }
   .footer-logo {
      width: 78px;
      height: 24px;
   }
   .footer-copyright {
      flex-basis: 50%;
      font-size: 10px;
   }
}